* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --section-background: #ececec;
    --p-color: #777;
    --c-color: #ccc;
}

body {
    font-family: 'Cairo', sans-serif;

}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.main-title {
    border: 2px solid black;
    width: fit-content;
    padding: 20px;
    margin: 0 auto 80px;
    z-index: 1;
    position: relative;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    transition: var(--main-transition);
}



.main-title::before,
.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.main-title::before {
    left: -30px;
}

.main-title::after {
    right: -30px;
}

.main-title:hover {
    transition-delay: .5s;
    color: white;
    border: 2px solid white;

}

.main-title:hover::before {
    z-index: -1;
    animation: left-mo .5s forwards;
}

.main-title:hover::after {
    z-index: -1;
    animation: right-mo .5s forwards;
}

@keyframes left-mo {
    50% {
        left: 0
    }

    100% {
        height: 100%;
        width: 100%;
        border-radius: 0;
        left: 0
    }
}

@keyframes right-mo {
    50% {
        right: 0;

    }

    100% {
        height: 100%;
        width: 100%;
        border-radius: 0;
        right: 0;

    }
}

.dots {
    background-image: url(../imges/dots.png);
    position: absolute;
    height: 200px;
    width: 210px;
    background-repeat: no-repeat;
    z-index: -1;
}

.dots-up {
    top: 200px;
    right: 0;
}

.dots-down {
    bottom: 200px;
    left: 0;
}

.spikes {
    position: relative;
}

.spikes::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg, white 25%, transparent 25%),
        linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
}

.header {
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
    background: white;
    position: relative;
}

.header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header .logo {
    display: flex;
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    align-items: center;
    color: var(--main-color);
    transition: var(--main-transition)
}

.header .nav {
    display: flex;
}

.header .nav>li {
    height: 72px;
}

.header .nav>li>a {
    padding: 0 30px;
    height: 72px;
    display: flex;
    align-items: center;
    color: black;
    position: relative;
    overflow: hidden;
    font-size: 18px;
    transition: var(--main-transition);
}

.header .nav>li>a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
}

.header .nav>li>a:hover::before {
    left: 0;
}

.header .nav>li>a:hover {
    color: var(--main-color);
    background-color: #fafafa;

}

.header .meanu {
    display: flex;
    position: absolute;
    right: 40px;
    top: 100px;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: white;
    transition: var(--main-transition);
    z-index: -1;
    padding: 30px;
    flex-wrap: wrap;
    opacity: 0;
    border-bottom: 3px solid var(--main-color);
}

.header .nav>li:hover .meanu {
    top: 73px;
    opacity: 1;
    z-index: 5;
}

.header .meanu .links a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    transition: var(--main-transition)
}

.header .meanu .links li {
    padding: 20px 0;
}

.header .meanu .links li:not(:last-child) {
    border-bottom: 1px solid var(--main-color);
}

.header .meanu .links li:hover {
    color: var(--main-color);
    background: #fafafa;
}

.header .meanu .links a:hover {
    color: var(--main-color);
}

@media (max-width: 991px) {
    .header .meanu img {
        display: none;
    }

    .header .meanu .links {
        flex-basis: 45%;
    }
}

@media (max-width: 767px) {
    .header .meanu .links {
        flex-basis: 100%;
    }

    .header .meanu {
        right: 0;
        padding: 5px;
    }

    .header .nav>li:hover .meanu {
        top: 145px;
        z-index: 5;
    }

    .header .container {
        justify-content: center;
    }

    .header .logo {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .header .nav>li>a {
        padding: 0 10px;
        font-size: 15px;
    }
}

.landing {
    position: relative;
}

.landing::before {
    z-index: -1;
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #ececec;
    transform: skewY(-6deg);
    transform-origin: top left;
}

.landing .container {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20 0 80px;
    position: relative;
}

.landing .image {
    flex-basis: 50%;
    position: relative;
    animation: go infinite 2s;
}

@keyframes go {
    0% {
        top: 0;
    }

    50% {
        top: -30px;
    }

    100% {
        top: 0;
    }
}

.landing img {
    max-width: 100%;
}

.landing .text {
    flex-basis: 50%;
}

.landing .text h1 {
    font-size: 32px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.landing .text p {
    line-height: 1.5;
    margin-bottom: 20px;
}

.landing .go-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translatex(-50%);
    color: var(--main-color);
    transition: var(--main-transition);
}

.landing .go-down {
    animation: bouncing 1s infinite;
}

@keyframes bouncing {

    0%,
    100% {
        bottom: 30px;
    }

    50% {
        bottom: 15px;
    }

}

@media (max-width: 767px) {
    .landing .text {
        text-align: center;
        flex-basis: 100%;
    }

    .landing .text h1 {
        font-size: 28px;
    }

    .landing .text p {
        font-size: 18px;
    }

    .landing .image {
        display: none;
    }
}

.articles {
    padding: 100px 0;
}

.articles .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles .container img {
    max-width: 100%;
    min-width: 100%;
}

.articles .card {
    flex-basis: 22%;
    margin-bottom: 20px;
    transition: transform var(--main-transition), box-shadow var(--main-transition);
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    border-radius: 7px;
    overflow: hidden;
    position: relative;
}

.articles .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.articles .card .text {
    padding: 10px;
    margin-bottom: 10px;
}

.articles .card .info {
    padding: 20px 5px;
    border-top: 1px solid var(--c-color);
}

.articles .card .text h3 {
    margin: 0;
}

.articles .card .text p {
    color: var(--p-color);
    line-height: 1.5;
    margin: 10px 0 0;
}

.articles .card .info a {
    color: var(--main-color);
    font-weight: bold;
}

.articles .card .info i {
    position: absolute;
    right: 10px;
    transition: var(--main-transition);
    color: var(--main-color);
}

.articles .card:hover .info i {
    animation: i-anime 1s infinite;
}

@keyframes i-anime {

    0%,
    100% {
        right: 10px;
    }

    50% {
        right: 15px;
    }
}

@media (max-width: 991px) {
    .articles .card {
        flex-basis: 48%;
    }
}

@media (max-width: 767px) {
    .articles .card {
        flex-basis: 100%;
    }
}


.gallery {
    padding: 100px 0;
    background-color: var(--section-background);
    position: relative;
}

.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.gallery .container .box {
    padding: 10px;
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}

.gallery .container .image {
    position: relative;
    overflow: hidden;
}

.gallery .container .image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    background-color: rgb(255 255 255 / 20%);
    transition: var(--main-transition);
    opacity: 0;
}

.gallery .container .image:hover::before {
    opacity: 1;
    animation: img-anime .3s linear;
    z-index: 1;
}

@keyframes img-anime {
    0% {
        top: 50%;
        left: 50%;
        width: 0%;
        height: 0%;
    }

    100% {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

}

.gallery .box img {
    max-width: 100%;
    transition: var(--main-transition);
}

.gallery .box .image:hover img {
    transform: rotate(5deg) scale(1.1);
}

.features {
    padding: 100px 0;
    position: relative;
    background-color: white
}

.features .container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.features .container .box {
    flex-basis: calc(100% / 3 - 20px);
    margin: 0 auto;
    border: 1px solid var(--c-color);
    text-align: center;
}

.features .container .box .img-holder {
    position: relative;
}

.features .container .box .img-holder img {
    max-width: 100%;
}

.features .container .box .img-holder::before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.features .container .time .img-holder::before {
    background-color: rgb(244 64 54 / 60%);
}

.features .container .time h2::before {
    background-color: #f44036;
}


.features .container .quality .img-holder::before {
    background-color: rgb(0 150 136 / 60%);
}

.features .container .quality h2::before {
    background-color: #009688;
}

.features .container .passion .img-holder::before {
    background-color: rgb(3 169 244 / 60%);
    top: -1px;
}

.features .container .passion h2::before {
    background-color: #03a9f4;
}

.features .container .box .img-holder::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    clip-path: polygon(100% 50%, 0% 100%, 100% 100%);
    width: 100%;
    height: 105%;
    background-color: white;
    transition: var(--main-transition);
}

.features .container .box:hover .img-holder::after {
    clip-path: polygon(0 50%, 0% 100%, 100% 100%);
}

.features .container .box h2 {
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
}

.features .container .box h2::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -10px;
}

.features .container .box p {
    line-height: 2;
    font-size: 20px;
    margin: 30px 0;
    padding: 25px;
    color: var(--p-color);
}

.features .container .box a {
    padding: 10px 20px;
    color: black;
    margin: 0 auto 30px;
    display: block;
    font-weight: bold;
    font-size: 22px;
    width: fit-content;
    border: 5px solid black;
    border-radius: 7px;
    position: relative;
    overflow: hidden;
    transition: var(--main-transition);
    z-index: 1;
}

.features .container .box a::before {
    content: "";
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    transition: var(--main-transition);
    z-index: -1;
}

.features .container .box:hover a::before {
    left: 0;
}


.features .container .passion a::before {
    background-color: #03a9f4
}

.features .container .passion a {
    color: #03a9f4;
    border-color: #03a9f4;
}

.features .container .quality a::before {
    background-color: #009688
}

.features .container .quality a {
    color: #009688;
    border-color: #009688;
}

.features .container .time a {
    color: #f44036;
    border-color: #f44036;
}

.features .container .time a::before {
    background-color: #f44036
}

.features .container .box:hover a {
    color: white;
    z-index: 1;
}

@media(max-width: 991px) {
    .features .container .box {
        flex-basis: 45%;
        gap: 20px;
    }
}

@media(max-width: 767px) {
    .features .container .box {
        flex-basis: 100%;
    }
}

.testimonials {
    padding: 100px 0;
    background-color: var(--section-background);
    position: relative;
    z-index: 0;
}

.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.testimonials .container .box {
    padding: 20px;
    background: white;
    position: relative;
    box-shadow: 0 2px 4px rgb(0 0 0 / 7%);
}

.testimonials .container .box img {
    width: 100px;
    position: absolute;
    border-radius: 50%;
    top: -40px;
    right: -10px;
    border: 5px solid var(--section-background);
    border-radius: 50%;
}

.testimonials .container .box h3 {
    margin-bottom: 10px;
}

.testimonials .container .box p {
    line-height: 1.5;
    color: var(--p-color);
    margin-bottom: 10px;
}

.testimonials .container .box .title {
    color: var(--p-color);
    margin-bottom: 10px;
    display: block;
}

.testimonials .container .box .rate .filled {
    color: #ffc107;
}

.team {
    padding: 100px 0;
}

.team .container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.team .container .box {
    position: relative;
    flex-basis: 23%;
    padding: 20px;
}

.team .container .box::before {
    content: "";
    position: absolute;
    width: calc(100% - 40px);
    height: 100%;
    left: 40px;
    border-radius: 10px;
    top: 0;
    background-color: var(--section-background);
    z-index: -1;
    transition: var(--main-transition);
    background: linear-gradient(to left, #e4e4e4 50%, #f6f5f5 50%);
    background-size: 200% 100%;
    background-position: left bottom;
}

.team .container .box:hover::before {
    background-position: right bottom;
}

.team .container .box img {
    width: calc(100% - 40px);
    border-radius: 10px;
    transition: var(--main-transition);
}

.team .box:hover img {
    filter: grayscale(100%);
}

.team .container .box .data {
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.team .container .box .data .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.team .container .box .data .social a {
    height: 40px;
    display: flex;
    justify-content: center;
    width: 40px;
    align-items: center;
}

.team .container .box .data .social i {
    color: var(--p-color);
    transition: var(--main-transition);
    font-size: 20px;
}

.team .container .box .data .social a:hover i {
    color: var(--main-color);
}

.team .container .box .info {
    padding-left: 45px;
}

.team .container .box .info h3 {
    margin-bottom: 10px;
    font-size: 22px;
    color: var(--main-color);
    transition: var(--main-transition);
}

.team .container .box:hover h3 {
    color: var(--p-color);
}

.team .container .box .info p {
    margin-bottom: 10px;
    line-height: 1.5;
    color: var(--p-color);
}

@media (max-width:1199px) {
    .team .container .box {
        flex-basis: 48%;
    }
}

@media (max-width: 991px) {
    .team .container .box {
        flex-basis: 47%;
    }
}

@media (max-width: 767px) {
    .team .container .box {
        flex-basis: 100%;
    }
}

.services {
    padding: 100px 0;
    background: var(--section-background);
}

.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}

.services .container .box {
    text-align: center;
    background-color: white;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    counter-increment: services;
    position: relative;
    transition: var(--main-transition);
}

.services .container .box::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    transition: var(--main-transition);
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
}

.services .container .box:hover::before {
    width: 100%;
}

.services .container .box:hover {
    transform: translateY(-10px);
}

.services .container .box i {
    color: #d5d5d5;
    margin: 30px auto 20px;
}

.services .container .box h3 {
    margin-bottom: 30px;
    color: var(--main-color);
    font-size: 25px;
}

.services .container .box .info {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    background: #f9f9f9;
    position: relative;
}

.services .box .info::before {
    content: "0" counter(services);
    position: absolute;
    background-color: var(--main-color);
    color: white;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 70px;
    padding-right: 15px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services .box .info::after {
    content: "";
    position: absolute;
    background-color: #d5d5d5;
    bottom: 0;
    left: 70px;
    height: 101%;
    width: 50px;
    transform: skewX(-30deg);
}

.services .container .box .info a {
    color: var(--main-color);
}

.our-skills {
    padding: 100px 0;
    position: relative;
}

.our-skills .container {
    display: flex;
    gap: 40px;
    align-items: center;
}

.our-skills .container img {
    max-width: 100%;
}

.our-skills .container .skills {
    flex: 1;
}

.our-skills .container .skills .skill progress {
    width: 100%;
    height: 40px;
}

.our-skills .container .skills .skill ::-moz-progress-bar,
.our-skills .container .skills .skill ::-webkit-progress-bar {
    background-color: var(--section-background);
}

.our-skills .container .skills .skill ::-moz-progress-value,
.our-skills .container .skills .skill ::-webkit-progress-value {
    color: var(--main-color);
}

.our-skills .container .skills .skill h3 {
    display: flex;
    justify-content: space-between;
}

.our-skills .container .skills .skill h3 span {
    font-size: 12px;
    color: var(--main-color);
    border: 1px solid var(--c-color);
    border-radius: 3px;
    padding: 5px;
    text-align: center;
    background-color: white;
}

@media (max-width: 767px) {
    .our-skills .container img {
        display: none;
    }

    .our-skills .dots {
        display: none;
    }
}

.work-steps {
    padding: 100px 0;
    background-color: var(--section-background);
}

.work-steps .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.work-steps .container .image {
    max-width: 100%;
    height: fit-content;
    flex-basis: 45%;

}

.work-steps .container .info {
    flex-basis: 45%;
}

.work-steps .container .info .box {
    background-color: #f6f5f5;
    position: relative;
    display: flex;
    margin-top: 25px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 5px;
    align-items: center;
    z-index: 1;
}

.work-steps .container .info .box::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0%;
    height: 0%;
    background-color: var(--section-background);
    transition: var(--main-transition);
    opacity: 0;
}

.work-steps .container .info .box:hover::before {
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: -1;
}

.work-steps .container .info .box img {
    width: 60px;
    margin: 40px 20px;
}

.work-steps .container .info .box h3 {
    margin: 0;
    font-size: 22px;
}

.work-steps .container .info .box p {
    color: var(--p-color);
    line-height: 1.7;
    margin: 10px 0 0;
    font-size: 18px;
}

@media (max-width: 991px) {
    .work-steps .container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 767px) {
    .work-steps .container .info .box {
        display: block;
        text-align: center;
    }
}

.events {
    padding: 100px 0;
    position: relative;
}

.events .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.events .container .image {
    max-width: 450px;
    width: 100%;
}

.events .container .info {
    flex: 1;
}

.events .container .info .time {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.events .container .info .time .unit {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    background-color: white;
    transition: var(--main-transition);
    width: 70px;
}

.events .container .info .time .unit:hover {
    border-color: var(--main-color);
}

.events .container .info .time .unit span:first-child {
    padding: 15px 0;
    font-size: 35px;
    color: var(--main-color);
    border-bottom: 1px solid #d4d4d4;
    width: 70px;
    text-align: center;
    font-weight: bold;
}

.events .container .info .time .unit:hover span:first-child {
    border-color: var(--main-color);
}

.events .container .info .time .unit span:last-child {
    padding: 8px 10px;
    font-size: 13px;
    width: 70px;
    text-align: center;
}

.events .container .info .box {
    text-align: center;

}

.events .container .info .box h2 {
    margin: 40px 0 0;
    font-size: 30px;
}

.events .container .info .box p {
    color: var(--p-color);
    line-height: 1.7;
    margin: 10px 0 0;
    font-size: 19px;
    background: white;
}

.events .container .subscribe {
    width: 100%;
}

.events .container .subscribe form {
    width: 100%;
    position: relative;
    border-radius: 50px;
    display: flex;
    height: 100px;
    background-color: #f6f5f5;
    justify-content: space-between;
    align-items: center;
    /* overflow: hidden; */
}

.events .container .subscribe form input[type="email"] {
    left: 15px;
    height: 75%;
    position: relative;
    border-radius: 50px;
    border: 0;
    width: calc(100% - 30px);
    padding-left: 5%;
    outline: none;
    padding-right: 21%;
}

.events .container .subscribe form input[type="submit"] {
    height: 75%;
    position: absolute;
    border-radius: 50px;
    border: 0;
    width: 20%;
    color: white;
    background-color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    padding: 0 20px;
    transition: var(--main-transition);
    right: 15px;
    text-align: center;
}

@media(max-width: 767px) {
    .events .container .subscribe form input[type="submit"] {
        font-size: 14px;
        min-width: fit-content;
    }
}

.pricing {
    padding: 100px 0;
    position: relative;
    background-color: var(--section-background);
    z-index: 0;
}

.pricing .container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.pricing .container .box {
    background-color: white;
    text-align: center;
    box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
    border-radius: 6px;
    position: relative;
    z-index: 1;
    transition: var(--main-transition);
    flex-basis: calc(100% / 3 - 20px);
}

.pricing .box::before,
.pricing .box::after {
    content: "";
    width: 0;
    height: 50%;
    background-color: #f6f6f6;
    position: absolute;
    z-index: -1;
    transition: var(--main-transition);
}

.pricing .box::before {
    left: 0;
    top: 0;
}

.pricing .box::after {
    right: 0;
    bottom: 0;
}

.pricing .box:hover::before,
.pricing .box:hover::after {
    width: 100%;
}


.pricing .container .box .title {
    font-weight: bold;
    margin: 30px 0;
    font-size: 25px;
    letter-spacing: -1px;
}

.pricing .container .box img {
    max-width: 100%;
    width: 80px;
}

.pricing .container .box .price {
    margin-bottom: 20px;
}

.pricing .container .box .price .amount {
    color: var(--main-color);
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

.pricing .container .box .price .time {
    display: block;
    color: var(--p-color);
}

.pricing .container .box ul {
    text-align: left;
}

.pricing .container .box ul li {
    padding: 20px;
    border-top: 1px solid #eee;
}

.pricing .container .box ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    margin-right: 10px;
    font-weight: 900;
    color: var(--main-color);
}

.pricing .container .box a {
    display: block;
    width: fit-content;
    margin: 30px auto;
    padding: 10px 20px;
    border: 2px solid var(--main-color);
    border-radius: 6px;
    color: var(--main-color);
    font-weight: bold;
    transition: var(--main-transition);
}

.pricing .box a:hover {
    background-color: var(--main-color-alt);
    border-color: var(--main-color-alt);
    color: white;
}

.pricing .container .popular {
    top: -20px;
}

.pricing .container .popular .label {
    position: absolute;
    writing-mode: vertical-rl;
    background-color: var(--main-color);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 95% 100%, 50% 85%, 5% 100%, 0 100%);
    color: white;
    font-weight: bold;
    padding: 10px 10px 35px 10px;
    font-size: 18px;
    right: 20px;
    width: 40px;
}

@media(max-width: 991px) {
    .pricing .container .box {
        flex-basis: 45%;
        gap: 20px;
    }

    .pricing .container .popular {
        top: 0;
    }
}

@media(max-width: 767px) {
    .pricing .container .box {
        flex-basis: 100%;
    }
}

.videos {
    padding: 100px 0;
}

.videos .holder {
    background: var(--section-background);
    display: flex;
    justify-content: center;
    border: 1px solid #ddd
}

.videos .holder .list {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    background-color: white;
    border: 1px solid #ddd;
}

.videos .holder .list .name {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f4f4f4;
    font-weight: bold;
}

.videos .holder .list ul li {
    padding: 20px;
    border-top: 1px solid #ddd;
    cursor: pointer;
    transition: var(--main-transition);
}

.videos .holder .list ul li span {
    display: block;
    margin-top: 10px;
    color: #777;
}

.videos .holder .preview {
    display: flex;
    padding: 10px;
    flex-direction: column;
    background-color: #e2e2e2;
    justify-content: space-between;
}

.videos .holder .preview img {
    max-width: 100%;
}

.videos .holder .preview .info {
    margin-top: 10px;
    padding: 20px;
    background-color: white;
}

.videos .holder .list ul li:hover {
    background-color: #fafafa;
    color: var(--main-color);
    padding-left: 25px;
}

@media (max-width: 991px) {
    .videos .holder {
        flex-direction: column;
    }
}

.stats {
    padding: 100px 0;
    background-image: url(../imges/stats.jpg);
    background-size: cover;
    min-height: 300px;
    position: relative;
}

.stats::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 95%);
}

.stats .container {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    flex-wrap: wrap;
    gap: 20px;
}

.stats .container .box {
    background-color: white;
    padding: 30px 15px;
    text-align: center;
    position: relative;
    opacity: 0.8;
    transition: var(--main-transition);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-basis: 22%;
}

.stats .container .box i {
    font-size: 30px;
}

.stats .container .box .number {
    font-size: 50px;
    font-weight: bold;
    margin: 10px 0;
}

.stats .container .box .text {
    font-style: italic;
    font-size: 20px;
    font-weight: bold;
    color: var(--main-color);
}

.stats .container .box::before,
.stats .container .box::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: var(--main-color-alt);
    transition: 0.8s;
    z-index: 1;
}

.stats .container .box::before {
    top: 0;
    left: 0
}

.stats .container .box::after {
    bottom: 0;
    right: 0
}

.stats .container .box:hover::before,
.stats .container .box:hover::after {
    height: 100%;
}

.stats .container .box:hover {
    opacity: 1;
    transform: scale(1.1);
}

@media (max-width: 767px) {
    .stats .container {
        flex-direction: column;
        margin: 0 35px;
    }
}

.discount {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.discount .image {
    flex-basis: 50%;
    background-image: url(../imges/discount-background1.jpg);
    background-size: cover;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: backg 10s linear infinite;

}

.discount .image::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(23 135 224 / 97%);
    z-index: -1;
}

@keyframes backg {
    0% {
        background-image: url(../imges/discount-background1.jpg);
    }

    50% {
        background-image: url(../imges/discount-background2.jpg);
    }
}

.discount .image .content {
    color: white;
    text-align: center;
}

.discount .content h2 {
    font-size: 40px;
    letter-spacing: -2px;
}

.discount .image .content img {
    width: 300px;
    max-width: 100%;
}

.discount .image .content p {
    line-height: 1.6;
    font-size: 18px;
    max-width: 500px;
}

.discount .form {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
}

.discount form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.discount form input,
.discount form textarea {
    padding: 20px;
    border: none;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
    caret-color: var(--main-color);
    outline: none;
}

.discount form textarea {
    resize: none;
    height: 200px;
}

.discount form [type="submit"] {
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: var(--main-transition);
}

.discount form [type="submit"]:hover {
    background-color: var(--main-color-alt);
}

@media (max-width: 767px) {
    .discount {
        flex-direction: column;
    }
}

.footer {
    background-color: #191919;
    padding: 30px 0 0;
}

.footer .container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.footer .container .box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-basis: calc(100% / 3 - 20px);
}


.footer .container .box h3 {
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.footer .container .box .social {
    display: flex;
    gap: 15px;
    justify-content: center
}

.footer .container .box .social a {
    background-color: #313131;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;

}

.footer .container .box .social a i {
    font-size: 20px;
    transition: var(--main-transition)
}

.footer .container .box .social a:hover i {
    font-size: 25px;
}

.footer .container .box .text {
    color: var(--p-color);
    line-height: 2;
    text-align: center;
}

.footer .container .box .links li {
    padding: 15px 0;
    transition: var(--main-transition);
}

.footer .container .box .links li a {
    color: var(--p-color);
    transition: var(--main-transition);
}

.footer .container .box .links li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
}

.footer .container .box .links li:last-child {
    border-top: 1px solid var(--p-color);
}

.footer .container .box .links li:hover {
    padding-left: 10px;
}

.footer .container .box .links li:hover a {
    color: white;
}

.footer .line {
    display: flex;
    align-items: center;
    margin: 50px 0 0;
    color: var(--p-color);
}

.footer .line i {
    font-size: 25px;
    color: var(--main-color);
    margin-right: 10px;
}

.footer .line .info span {
    display: block;
}

.footer .copyright {
    margin: 50px 0 0;
    text-align: center;
    color: white;
    border-top: 1px solid var(--p-color);
    font-size: 18px;
    padding: 25px 0;
}

.footer .copyright span {
    color: var(--main-color);
    font-weight: bold;
    font-size: 20px;
}

@media (max-width: 767px) {
    .footer .container {
        flex-direction: column;
    }

}